<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.2.xsd" 
			default-lazy-init="true">
	
	<!--ehcache-->
    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:conf/ehcache.xml"/>
    </bean>
    
    <bean id="springCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>
    
    <!-- 缓存管理器 -->
    <bean id="cacheManager" class="com.fxl.shiro.SpringCacheManagerWrapper">
        <property name="cacheManager" ref="springCacheManager"/>
    </bean>
    
    <!-- Realm实现 -->
    <bean id="userRealm" class="com.fxl.shiro.UserRealm">
        <property name="cachingEnabled" value="false"/>
        <!-- 密码加密验证方式 -->
        <property name="credentialsMatcher">
        	<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        		<property name="hashAlgorithmName" value="MD5" />
        	</bean>
        </property>
    </bean>
    
    <!-- 安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="userRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>
    
    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>
    
    <!-- 自定义表单过滤器 -->
    <!-- <bean id="userFormAuthenticationFilter" class="com.fxl.shiro.UserFormAuthenticationFilter">
        <property name="usernameParam" value="username"/>
        <property name="passwordParam" value="password"/>
        <property name="loginUrl" value="/main/login"/>
    </bean> -->
    
    <!-- userFilter -->
    <!-- <bean id="userFilter" class="com.jumper.stations.auth.UserFilter"/> -->
    
    <!-- Shiro的Web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    	<!-- Shiro的核心安全接口,这个属性是必须的 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 要求登录时的链接(可根据项目的URL进行替换),非必须的属性,默认会自动寻找Web工程根目录下的"/login.jsp"页面 -->
        <property name="loginUrl" value="/main/login"/>
        <!-- 登录成功后要跳转的连接 -->
        <property name="successUrl" value="/main/main"/>
        <!-- 没有权限时跳转的页面 -->
        <property name="unauthorizedUrl" value="/base/unauthorized"></property>
        <!-- <property name="filters">
            <map>
                <entry key="authc" value-ref="userFormAuthenticationFilter"/>
                <entry key="userFilter" value-ref="userFilter"/>
            </map>
        </property> -->
        <property name="filterChainDefinitions">
            <value>
            	/sfile/**=anon
            	/main/login=anon
            	/main/dologin=anon
            	/main/getVerifyCodeImage=anon
                /main/logout = logout
                /** = authc
            </value>
        </property>
    </bean>
    
    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	
</beans>